#calendar{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
  .fc-toolbar{
      display: flex;
    .fc-left{
        margin: auto;
        position: relative;
        padding: 0.25em 1em;
        border: solid 2px #ffcb8a;
        border-radius: 4px 0 4px 0;
        background-color: white;
      h2 {
            margin: 0; 
            padding: 0;
            font-size: 13px;
      }
    }
  }
}

.fc-view-container{
    background-color: white;
    border-radius: 10px;
    border: none;
}

.fc-row.fc-week.fc-widget-content{
    height: 45px;
    min-height: 30px;
}

