.contents{
  &__top{
    height: 65px;
  }
  &__main{
    margin: 0 170px;
    .show_box{
      text-align: center;
      .title{
        margin-top: 80px;
        text-align: center;
        font-size: 40px;
        font-family: 'SmartFont';
      }
    }
    .line{
      border-top: solid 1px rgb(201, 201, 201);
      margin: 20px 30px;
    }
    .restaurant_box{
      margin: 0 50px;
      .data{
          display: flex;
          margin-top: 3px;
        &__title_box{
          width: 200px;
          min-height: 50px;
          font-size: 20px;
          font-family: 'SmartFont';
          background-color: rgb(214, 214, 214);
          position: relative;
          .title{
            position: absolute;
            top: 5px;
            left: 5px;
          }
        }
        &__text_box{
          width: calc(100% - 220px);
          margin-left: 20px;
          font-size: 20px;
          border-bottom: 1px solid rgb(201, 201, 201);
          .text{
            width: 100%;
            overflow-wrap: break-word;
          }
          .image_box{
            width: 100%;
            &__image{
              min-width: 320px;
              width: 50%;
              object-fit: contain
            }
          }
        }
      }
    }
  }
  &__btn{
    margin: 0 170px;
    .edit_restaurant{
      width: 300px;
      margin-left: 80px;
      margin-top: 50px;
      &__reserve-btn{
        width: 100%;
        height: 50px;
        background-color: #ff9e0b;
        margin: 0 auto;
        line-height: 50px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
      }
      &__reserve-btn:hover{
        color: #1481ff;
        background-color: #ff8800;
      }
    }
    &__reserved-menu{
      height: 50px;
      width: 300px;
      margin-left: 80px;
      margin-top: 50px;
      text-align: center;
      background-color: #ff9e0b;
      border: none;
      border-radius: 5px;
      position: relative;
      &__text{
        margin: 0 auto;
        line-height: 50px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      &__message-link{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &__reserved-menu:hover{
      background-color: #ff8800;
      &__text{
        color: #1481ff;
      }
    }
    &__noreserve-menu{
      height: 50px;
      width: 300px;
      margin-left: 80px;
      margin-top: 50px;
      &__text{
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: #d4d4d4;
        margin: 0 auto;
        line-height: 50px;
        color: rgb(136, 136, 136);
        font-size: 20px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
      }
    }
  }
  &__bottom{
    height: 150px;
  }
}
