.row{
    float: none;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(243, 243, 243);
    padding: 0;
    position: relative;
  .title{
      padding-top: 50px;
      padding-bottom: 60px;
      font-size: 80px;
      font-family: 'SmartFont';  
      color: #ff9d0a;
      font-weight: 700;
      text-align: center;
    
  }
}

.user-sign-box{
    width: 550px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    margin: 0 auto;
    background-color: white;
    border-radius: 3px; 
  .newuser-box{
      width: 356px;
      margin: 0 auto;
      padding: 30px;
    .field{
        margin-bottom: 10px;
      .form-text{
          text-align: left;
      }
      .error-message{
        color: red;
      }
    }
    .avatar-field{
      margin-top: 30px;
      margin-bottom: 20px;
    }
    
  }
}
.actions{
  margin-top: 20px;
  height: 35px;
  width: 353px;
  padding: 0 ;
  
  .create-btn{
    height: 35px;
    width: 353px;
    border: solid 1px #f57904; 
    background-color: #f57904;
    color: white;
    border-radius: 5px;
  }
}
.login-link{    
  position: relative;
  width: 500px;
  margin: 50px auto;
}
.login-text{
  margin-top: 15px;
  font-size: 15px;
}
.login-btn{
  position: absolute;
  height: 35px;
  width: 353px;
  border: solid 1px #ffa149; 
  background-color: #ffa149;
  color: white;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
input[type="text"] {
  width: 350px;
  height: 35px;
}
input[type="email"] {
  width: 350px;
  height: 35px;
}
input[type="password"] {
  width: 350px;
  height: 35px;
}
