= render partial: '/shared/header'
.main_box
  = render partial: '/shared/search_restaurant'
  = render partial: '/shared/sidebar'
  .contents
    .h2
      æ–°ç€MEET
    .line
    .contents__restaurant_box
      = render @restaurants