= render partial: '/shared/header'
.main_box
  = render partial: '/shared/search_restaurant'
  = render partial: '/shared/sidebar'
  .contents
    .h2
      新着MEET
    .contents__top-content
      .contents__top-content__text
        気になるMEETを見てみよう！
    .line
    .contents__restaurant_box
      = render @restaurants