= render partial: '/shared/header'
= render partial: '/shared/sidebar'
.contents
  .h2
    新着MEET
  .contents__top-content
    .contents__top-content__text
      気になるMEETを見てみよう！
  .line
  = render @restaurants